.npm-controls-container {
  position: absolute;
  top: 4px;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 4px;
  z-index: 50;
}

.npm-controls-group {
  display: flex;
  justify-content: end;
  gap: 4px;
}

.npm-controls-icon {
  color: #9998f7;
  font-size: 12px;
}

.text {
  color: #747272;
  font-size: x-small;
}
