.npm-controls-container {
  position: absolute;
  top: 4px;
  left: calc(50% - 250px);
  display: flex;
  flex-direction: row;
  gap: 4px;
  font-size: 12px;
  background-color: #182931;
  padding: 2px 4px;
  border-radius: 6px;
  z-index: 50;
}

.npm-controls-group {
  display: flex;
  align-items: center;
  gap: 4px;
}

.npm-controls-icon-yellow {
  color: #facc15;
  font-size: 12px;
}

.npm-controls-icon-green {
  color: #4ade80;
  font-size: 12px;
}
.npm-controls-icon-blue {
  color: #60a5fa;
  font-size: 12px;
}

.text {
  color: #ffffff;
}
