.npm-controls-container {
  position: absolute;
  top: 4px;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 4px;
  z-index: 50;
}

.npm-controls-group {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 4px;
}

.npm-controls-icon {
  color: #9998f7;
  font-size: x-small;
}

.controls-group-text {
  color: #747272;
  font-size: x-small;
}

.dealer-range-container {
  position: absolute;
  bottom: 4px;
  right: 0px;
  display: flex;
  flex-direction: column;
  font-size: x-small;
  color: #6b7280;
  z-index: 50;
  gap: 4px;
}

.dealer-range-group {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 2px;
}

.dealer-range-group.inactive-range {
  opacity: 0.3;
  pointer-events: auto;
  cursor: pointer;
}

.dealer-range-group.active-range {
  background-color: #e7e9ecab;
  border-radius: 6px;
}

.range-values {
  display: flex;
  width: 70px;
  justify-content: space-between;
  font-family: monospace;
}

.range-left {
  text-align: right;
  width: 45%;
}

.range-separator {
  text-align: center;
  width: 30%;
}

.range-right {
  text-align: left;
  width: 45%;
}

.range-1 {
  color: #fe6f61;
}
.range-2 {
  color: #feae51;
}
.range-3 {
  color: #45b7a9;
}
.range-4 {
  color: #b19cd9;
}
.range-5 {
  color: #9c0f5f;
}

.npm-graph-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.npm-graph-tooltip {
  position: absolute;
  background-color: white;
  color: black;
  font-size: 14px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  padding: 8px 12px;
  pointer-events: none;
  z-index: 1000;
  min-width: 180px;
}

.npm-graph-tooltip .gray {
  color: #6b7280; /* Tailwind text-gray-600 */
  font-size: 13px;
}

.npm-graph-dashboard-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.current-settings-text {
  position: absolute;
  bottom: 4px;
  left: 0px;
  color: #747272;
  font-size: x-small;
  z-index: 1000;
  background-color: transparent;
  margin-bottom: 0;
}

.graph-text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #747272;
  font-size: small;
  z-index: 999;
}

.graph-reset-button {
  position: absolute;
  top: 4px;
  left: 0px;
  font-size: 24px;
  color: #747272;
  cursor: pointer;
  z-index: 1000;
}

.graph-center-button {
  position: absolute;
  top: 30px;
  left: 0px;
  color: #747272;
  font-size: 24px;
  z-index: 1000;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.default-spinner-overlay {
  position: absolute;
  inset: 0;
  background-color: #c3c3c360;
  border-radius: 15.346px;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.default-spinner-icon {
  width: 4rem;
  height: 4rem;
  color: white;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.graph-open-modal-button {
  position: absolute;
  top: 60px;
  left: 0px;
  font-size: 24px;
  color: #747272;
  z-index: 1000;
  cursor: pointer;
}

.graph-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.graph-modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 90vw;
  height: 90vh;
  overflow: auto;
}

.dealer-label-container {
  position: absolute;
  top: 4px;
  left: calc(50% - 100px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6px;
  z-index: 100;
  width: 200px;
}

.dealer-label {
  display: flex;
  align-items: center;
  gap: 3px;
  width: 70px;
}

.dealer-label-text {
  color: #747272;
  font-size: x-small;
  margin: 0;
}

.selector-segment-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.graph-dropdown-container {
  position: relative;
  width: 100%;
  height: 1.5rem;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.graph-dropdown-container ul {
  list-style-type: none;
}

.graph-dropdown-input {
  width: 10rem;
  height: 1rem;
  padding: 0 4px;
  border: none;
  color: #747272;
  font-size: x-small;
}

.graph-dropdown-input:focus {
  outline: none;
  border-color: none;
}

.graph-dropdown-button {
  width: 10rem;
  height: 1rem;
  padding: 0 4x;
  border: none;
  background-color: transparent;
  color: #747272;
  font-size: x-small;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.graph-dropdown-icon {
  margin-left: 5px;
}

.graph-dropdown-list {
  position: absolute;
  top: 1.5rem;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: transparent;
  border: none;
  scrollbar-width: thin;
  scrollbar-color: #bbb transparent;
}

.graph-dropdown-list::-webkit-scrollbar {
  width: 8px;
}
.graph-dropdown-list::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
}

.graph-dropdown-list::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 8px;
  border: 2px solid transparent; 
  background-clip: content-box;
}

.graph-dropdown-list::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

.graph-dropdown-item {
  padding: 2px 4px;
  font-size: x-small;
  cursor: pointer;
  background-color: transparent;
  border-bottom: none;
}

.graph-dropdown-item:hover {
  background-color: #e5e2e2;
}

.graph-dropdown-option {
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  color: #747272;
  font-size: x-small;
  cursor: pointer;
}

.graph-dropdown-clear {
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  color: #d9534f;
  font-size: x-small;
  cursor: pointer;
}

.graph-dropdown-no-results {
  padding: 6px 10px;
  color: #747272;
  font-size: x-small;
}
