.npm-controls-container {
  position: absolute;
  top: 4px;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 4px;
  z-index: 50;
}

.npm-controls-group {
  display: flex;
  justify-content: end;
  gap: 4px;
}

.npm-controls-icon {
  color: #9998f7;
  font-size: x-small;
}

.controls-group-text {
  color: #747272;
  font-size: x-small;
}

.dealer-range-container {
  position: absolute;
  bottom: 12px;
  right: 10px;
  display: flex;
  flex-direction: column;
  font-size: x-small;
  color: #6b7280;
  z-index: 50;
  gap: 4px;
}

.dealer-range-group {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
}

.npm-graph-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.npm-graph-button {
  position: absolute;
  top: 64px; /* top-16 */
  left: 32px; /* left-8 */
  z-index: 50;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.npm-graph-tooltip {
  position: absolute;
  background-color: white;
  color: black;
  font-size: 14px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  padding: 8px 12px;
  pointer-events: none;
  z-index: 1000;
  min-width: 180px;
}

.npm-graph-tooltip .gray {
  color: #6b7280; /* Tailwind text-gray-600 */
  font-size: 13px;
}

.npm-graph-dashboard-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.current-settings-text {
  position: absolute;
  bottom: 4px;
  left: 10px;
  color: #747272;
  font-size: x-small;
  z-index: 1000;
}

.graph-text-center{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #747272;
  font-size: small;
  z-index: 999;
}

.graph-reset-button {
  position: absolute;
  top: 4px;
  left: 10px;
  font-size: 24px;
  color: #747272;
  cursor: pointer;
  z-index: 1000;
}

.graph-center-button {
  position: absolute;
  top: 30px;
  left: 10px;
  color: #747272;
  font-size: 24px;
  z-index: 1000;
  cursor: pointer;
}

.default-spinner-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(55, 65, 81, 0.75);
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.default-spinner-icon {
  font-size: 4rem;
  color: white;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.graph-open-modal-button {
  position: absolute;
  top: 60px;
  left: 10px;
  font-size: 24px;
  color: #747272;
  z-index: 1000;
  cursor: pointer;
}

.graph-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.graph-modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 90vw;
  height: 90vh;
  overflow: auto;
}

.dealer-color-green { color: #DCFD35; }
.dealer-color-blue { color: #6FB5E4; }
.dealer-color-purple { color: #9998F7; }
.dealer-color-red { color: #FF7C7C; }
.dealer-color-orange { color: #FFB347; }
