.default-spinner-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(55, 65, 81, 0.75);
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.default-spinner-image {
  width: 4rem;
}
